<!DOCTYPE html>
<html>
<head>
	<title>Current Time!</title>
</head>
<body>
	<h1>Welcome To Current Time: Home of the Current Time</h1>

	<!-- link to your "/current_time" route here! -->

</body>
</html>
