<!DOCTYPE html>
<html>
<head>
	<title>Current Time!</title>
</head>
<body>
	<h1>Welcome To Current Time: Home of the Current Time</h1>

	<a href="/current_time">Click Here to Get the Current Time!</a>

</body>
</html>

